# --- SERWER I API ---
fastapi
uvicorn[standard]
python-multipart
pydantic-settings
httpx

# --- BAZA DANYCH (POSTGRESQL) ---
sqlalchemy

psycopg

# --- PRZETWARZANIE DANYCH ---
pandas

openpyxl

# --- SZTUCZNA INTELIGENCJA ---
ollama

# --- NARZĘDZIA POMOCNICZE ---
python-dotenv

passlib[bcrypt]
python-jose[cryptography]